@charset "UTF-8";

$main-font: 'Montserrat','Inter UI', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
$code-font: 'Montserrat', 'Inter UI', Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;

$post-font: $main-font;
$title-font: $main-font;

/* light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

/* dark theme colors */
$dark-background: #292a2d;
$dark-background-secondary: #3b3d42;
$dark-color: #a9a9b3;
$dark-color-secondary: #73747b;
$dark-border-color: #4a4b50;

$dark-orange: #FF9940;
$light-orange: #FFCC66;
$light-blue: #5CCFE6;
$dark-blue: #1f2430;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
